    <div class="container">
        <div class="row align-items-center">
            <div class="LoginDiv col-md-4 offset-md-4">
                <h3 style="text-align: center;">Registration Applicant</h3>
                <form action="SignUpUser" method="POST">
                    <p>Name</p>
                    <input name="name" type="text"/><br><br>
                    <p>Surname</p>
                    <input name="surname" type="text"/><br><br>
                    <p>Age</p>
                    <input name="age" type="text"/><br><br>
                    <p>Mobile phone</p>
                    <input name="mobilePhone" type="text"/><br><br>
                    <p>Mail</p>
                    <input name="mail" id="mail" type="email"/><br><br>
                    <p>Password</p>
                    <input name="password" id="password" type="password"/><br><br>
                    <input class="submitButton btn btn-primary" type="submit" value="Registration"/><br><br>
                </form>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <h5 style="text-align: center; color: red; margin-top:5%;">{{Error}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

